/* Global styles */
/*-----------------------------------------------------*/
.h, .H {
  overflow: hidden;
}

.I {
  display: none;
}

.L {
  float: left;
}

.R {
  float: right;
}

.C {
  height:1px;
  overflow:hidden;
  clear:both;
}

/*a.in_link, a.in_link:hover, a.in_link:active {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  text-decoration: none;
}

a.no_line.selected span {
  border-bottom-color: #fff;
}

a.in_link span {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

a.no_line, #top-menu li a, #top-menu li a span {
  border-bottom: none;
}*/


div.loader {
  width: 16px;
  height: 16px;
  background-image: url(../images/mw_load.gif);
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  margin-bottom: -4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.big_loader {
  width: 60px;
  height: 60px;
  background-image: url(../images/big_loader.gif);
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loader.form_loader {
  margin: 70px auto;
  display: block;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.big_loader.form_loader {
  width: 100%;
  height: 100%;
  min-height: 200px;
}


/* ------ for iframe in-bootstrap ----*/
.modal-iframe {
  display: block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}


/* ------ tooltip style walkaround ----*/

div.tooltip.in {
 opacity: 1;
 filter: alpha(opacity=100);
}

div.issue.tooltip {
 opacity: 1;
 filter: alpha(opacity=100);
 position: relative;
 z-index: auto;
}

span.tip {
  z-index: 2000;
}


div.tooltip {
  font-size: 12px;
}

div.tooltip-inner {
  max-width: 650px;
  text-align: left;
}

div.tooltip-inner {
  background-color: #F8F8CC;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  color: #000;
}

.tooltip.right div.tooltip-arrow {
  border-right-color: #F8F8CC;
}

/* ------ tooltip style walkaround ends ----*/


/* ---- Redmine tabs fix. Not only in content ---- */

.tabs {height: 2.6em; margin-bottom:1.2em; position:relative; overflow:hidden;}

.tabs ul {margin:0; position:absolute; bottom:0; padding-left:0.5em; width: 2000px; border-bottom: 1px solid #bbbbbb;}



.tabs ul li a{
  display:block;
  font-size: 0.9em;
  text-decoration:none;
  line-height:1.3em;
  padding:4px 6px 4px 6px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbbbbb;
  background-color: #f6f6f6;
  color:#999;
  font-weight:bold;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

.tabs ul li a:hover {
  background-color: #ffffdd;
  text-decoration:none;
}

.select2-spinner {
    background: #fff url('../images/select2-spinner.gif') no-repeat 100%;
    background: url('../images/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../images/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../images/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../images/select2-spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../images/select2-spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('../images/select2-spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.tabs ul li a.selected {
  background-color: #fff;
  border: 1px solid #bbbbbb;
  border-bottom: 1px solid #fff;
  color: #444;
}

.tabs ul li {
  float:left;
  list-style-type:none;
  white-space:nowrap;
  margin-right:4px;
  background:#fff;
  position:relative;
  margin-bottom:-1px;
}

/* ---- Redmine tabs fix ends ---- */

a.select2-search-choice-close,
a.select2-search-choice-close:hover,
a.select2-search-choice-close span
a.select2-search-choice-close:hover span {
  text-decoration: none;
  border: none;
}

/* ---- Ajax counter style----*/
span.count{
  background-color: #077C10;
  padding: 0px 4px 0px 4px;
  position: relative;
  top: -2px;
  border-radius: 8px 8px;
  left: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 7.5pt;
  font-weight: bold;
  margin-right: 5px;
  color: #FFF;
}

span.count:hover {
  background-color: #077C10 !important;
  color: #FFF;
}

/* ---- Calendars support and contextual menu ----- */

#top-menu a span.count.updated {
  background-color: #76a8d7;
}

#top-menu a span.count.unread {
  background-color: #c3e26b;
}

.rmplus_date_links {
  overflow: hidden;
}

.rmplus_date_links a {
  display: block;
  padding: 3px;
  float: left;
}

.rmplus_date_links a.current {
  padding: 2px;
}

.rmplus_date_links span.arr {
  float: left;
  display: block;
  font-size: 17px;
  margin: 0 5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* hide text separators */
#content > .contextual {
  font-size: 0;
}

#content > .contextual > a,
#content > .contextual > form > a,
#content > .contextual > .rmplus_date_links {
  display: block;
  float: left;
  line-height: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
}

#content > .contextual > a.selected,
#content > .contextual > .rmplus_date_links > a {
  padding: 0 2px;
}

div.contextual {
  margin: 0;
  padding: 0;
}

#content > .contextual > a,
#content > .contextual > .dropdowns,
#content > .contextual > .rmplus_date_links {
  margin: 0;
  margin-left: 5px;
}

#content > .contextual > .rmplus_date_links {
  margin-left: 8px;
}

table.rmp_form_table
  {
  border-spacing: 0px;
  border-collapse: collapse;
  }

table.rmp_form_table td {
  border: 1px solid #EFEFEF;
  padding: 10px;
  vertical-align: top;
}

table.rmp_form_table td:first-child {
  text-align: right;

}