.icon.icon-inform {
  background-image: url(../images/inform.png);
  padding: 0;
  padding-left: 15px;
}

.rmp-settings-group td{
  font-weight: bold;
  background-color: #f3f3f3;
  border-left: none !important;
  border-right: none !important;
}

.box.tabular.settings {
  overflow: hidden;
}

.tabular.settings table.plugin_settings label {
  margin-left: 0;
  width: inherit;
  font-weight: normal;
  float: inherit;
  text-align: inherit;
  width: inherit;
}

#settings .box {
  padding: 0;
  margin-bottom: 0;
  background-color: inherit;
  color: inherit;
  line-height: inherit;
  border-width: 0;
  word-wrap: break-word;
}

table.plugin_settings {
  border-spacing: 0;
  border-collapse: collapse;
}

table.plugin_settings td {
  border: 1px solid #CCC;
  padding: 10px;
  vertical-align: top;
}

table.plugin_settings tr td:first-child {
  border-left-width: 0;
  text-align: right;
}

table.plugin_settings tr td:last-child {
  border-right-width: 0;
}

table.plugin_settings tbody:first-child tr:first-child td {
  border-top-width: 0;
}

table.plugin_settings tr:last-child td {
  border-bottom-width: 0;
}

.rmp-fast-link {
  margin-left: 5px;
}

input.main-form-button {
  font-size: 16pt;
}